
/*Beginning of styles that affect all pages*/

/*Navigation bar*/

.navbar-custom {background-color:white;
   
}

body {background-color:white;
    font-family: Helvetica;
}

p{
    color:#000000;
}

#profile-picture {
    max-width: 120%;
    height: 200px;
  }

